---
import ExternalLink from "../external-link.astro"
import { linkStyle } from "../ui/styles"

const projects = [
  {
    name: "anigreen",
    description: "track watched anime on a weekday basis",
    url: "https://anigreen.mapleleaf.dev",
    source: "https://github.com/itsMapleLeaf/anigreen",
    image: import("./anigreen.png").then((m) => m.default),
  },
  // {
  //   name: "fontme",
  //   description: "easily self-host google fonts",
  //   url: "https://fontme.mapleleaf.dev",
  //   source: "https://github.com/itsMapleLeaf/fontme",
  //   image: import("./fontme.png").then((m) => m.default),
  // },
  {
    name: "reacord",
    description: "render discord messages with react",
    url: "https://reacord.mapleleaf.dev",
    source: "https://github.com/itsMapleLeaf/reacord",
    image: import("./reacord.png").then((m) => m.default),
  },
].sort((a, b) => a.name.localeCompare(b.name))
---

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
  {
    await Promise.all(
      projects.map(async (project) => (
        <article class="grid gap-3 overflow-clip rounded-md bg-black/50 p-4 shadow-lg">
          <h3 class="font-condensed text-3xl font-light">{project.name}</h3>
          <div class="-mx-4">
            <img
              src={await project.image}
              alt={project.name}
              class="aspect-[18/9] object-cover"
            />
          </div>
          <p>{project.description}</p>
          <p>
            <ExternalLink class={linkStyle} href={project.url}>
              website
            </ExternalLink>{" "}
            <span aria-hidden class="inline-block translate-y-px px-[2px]">
              &bullet;
            </span>
            <ExternalLink class={linkStyle} href={project.source}>
              source
            </ExternalLink>
          </p>
        </article>
      )),
    )
  }
</div>
